.publication{
    box-shadow: 0 0 8px #d3d3d3;
}

.publication:hover{
    box-shadow: 0 0 8px #d3d3d3;
    cursor: pointer;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1);
    transition: all 100ms ease-in;
    transform: scale(1.05);
    border: thick inset black;
}

.navbar{
    background-color: rgb(233, 232, 232);       
}